.skills-section {
    text-align: center;
    padding: 120px 0;
    background: transparent;
}

/* Button */
.reveal-btn {
    background: white;
    border: 1px solid #fff;
    color: black;
    padding: 14px 40px;
    letter-spacing: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.4s ease;
}

.reveal-btn:hover {
    background: black;
    color: white;
}

/* Container */
.royal-box {
    margin: 70px auto;
    width: 80%;
    min-height: 220px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    padding: 50px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

/* Curtains */
.royal-box::before,
.royal-box::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background:#e9e5cd;
    z-index: 2;
    transition: 3s cubic-bezier(.77, 0, .18, 1);
}

/* subtle texture move */
.royal-box::before {
    left: 0;
}

.royal-box::after {
    right: 0;
}

.royal-box.open::before {
    left: -50%;
}

.royal-box.open::after {
    right: -50%;
}

/* Skills */
.royal-box span {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;

    transform: translateY(30px);
    transition: 2.6s ease;
   
    padding: 10px 22px;
}

/* Reveal */
.royal-box.open span {
    opacity: 1;
    transform: translateY(0);
    animation: softGlow 1.5s ease forwards;
}

@keyframes softGlow {
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    }
}