.mern , .dev{
     font-size:100px;

  font-family: "Explora", serif;

  font-style: normal;




}
.intro{
     margin-top:50px;
}
.sub{
       font-family: "Explora", serif;
  font-weight:500;
  font-style: normal;
  font-size:70px;
 
}
.intro-con{
     background:unset;
     color:#e9e5cd;
}