.mern , .dev{
     font-size:120px;
       font-family: "Explora", serif;
  font-weight: 400;
  font-style: normal;
}
.intro{
     margin-top:50px;
}
.sub{
       font-family: "Explora", serif;
  font-weight: 800;
  font-style: normal;
  font-size:50px;
}
